[submodule "boiler_heating_system"]
	path = boiler_heating_system
	url = https://github.com/user11336/boiler_heating_system.git
[submodule "boiler_time_delta"]
	path = boiler_time_delta
	url = https://github.com/user11336/boiler_time_delta.git
[submodule "boiler_constants"]
	path = boiler_constants
	url = https://github.com/user11336/boiler_constants.git
[submodule "boiler_forge_utils"]
	path = boiler_forge_utils
	url = https://github.com/user11336/boiler_forge_utils.git